{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
  {% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="row">

    {% for category in categories %}

    <div class="card blue darken-1 center-align col s4">
      <div class="card-content white-text hoverable">
        <span class="card-title">{{category.name}}</span>
        <a class="blue darken-4 waves-effect waves-light btn" href="{{url_for('showCategory', category_id=category.id) }}">Menu</a>

      </div>
    </div>

    {% endfor %}
  </div>
</div>





{% endblock %}
